*{
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



.nextin {
  text-decoration: none;
  
}
/*  mening yangi kodlarim  */

.input_error {
  border-color: red;
}


.my_class {
  font-size: 16px;
  font-weight: 700;
}


#tashk_input {
  display: none;
  margin-top: 20px;
}


.my_span {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
}

#chek {
  display: none;
}


.top-box {
  font-style: bold;
  color:white;
  font-weight: 400;
  }


.top-section{
  width: 99%;
}
.custom-toggler .navbar-toggler-icon {
  font-weight: 900;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,255,255,255)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
.navbar-toggler-icon{
  width: 2.5rem;
}

.logo-link {
  font-weight: 700;
  font-size: 40px;
  line-height: 31px;
  color: #fff;
  text-decoration: none;
  transition: opacity 0.4s ease, color 0.4s ease;
}


.logo-img img {
  width: 200px;
  height: 70px;
}

.navbar-light .navbar-toggler {
  border: none;
  color: #fff;
  padding: 2px 6px;
}



.navbar-toggler-icon:focus{
  border: none;
  box-shadow: none;
  background-color: none;
}

.site-logo-link:active {
  opacity: 0;
}

.sitenav-item {
  padding-top: 15px;
  margin: 0 31px;
}

.nav-item {
  padding-top: 10px;
  padding-left: 20px;
}


.sitenav-item-link {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  line-height: 155%;
  text-decoration: none;
  color: #000;
  transition: opacity 0.4s ease, color 0.4s ease;

}

.sitenav-item-link:hover {
  opacity: 0.8;
  color: #000;
  text-decoration: none;
}

.sitenav-item-link:active {
  opacity: 0.6;
}

.offcanvas-end{
  width: 300px;
}

.top_img{
  background-image: url(../img/luxa.org-opacity-changed-gazeta1.jpg);
  background-size:cover;
}

  .top-list {
    margin-bottom: 0;
    padding-left: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    list-style-type: none;

  }

  .nav-pills{
    align-items: center;
    margin-top: 30px;
  }

  .offcanvas-end{
    width: 300px;
  }

  .nav-item{
    padding: 20px 20px;
  }

  .nav-item {
    padding-top: 10px;
    padding-left: 20px;
  }


  .nav-pills li a{
    font-size: 25px;
  }
  .top-list i {
    color: #000;
    font-size: 20px;
    padding-right: 10px;
  }



  .top-list:hover{
    color: #000;
  }

  .top-link {
    text-decoration: none;
    margin-bottom: 0;
    padding: 0;
    color: #000;
    font-size: 16px;
  }

  .top-link a{
    color: #000;
  }

  .main_titles h1{
    color: #000;

  }


.container_list{
    max-width: 1000px;
    height: 100%;
}

 .selects{
    height: 40px;
    width: 100%;
}

.table{
    vertical-align: baseline;
    border: none;
}


th{
    border: none;
    width: 22%;
    font-size: 21px;
    color: #000;
    padding-left: 0;
    text-align: left;
}

td{
    border: none;
    /* width: 60%; */
    color: #000;
}

span{
  color: #000;
  font-weight: 500;
}


.table tbody{
    vertical-align: middle;
}

.card-table{
    font-style: italic;
    font-weight: bold;
}



.bottom_socials i{
  color: crimson;
  font-size: 20px;
  margin-left: 6px;
}
.top_socials i{
  color: crimson;
  font-size: 20px;
  margin-left: 6px;
}


.input_phone{
  font-weight: bold;
}

footer{
  background: rgb(29, 29, 32);
  background: linear-gradient(90deg, rgba(42,61,181,0.9836309523809523) 0%, rgba(42,61,181,0.9780287114845938) 72%);
  color: white;
}

.footer_pastga{
  margin-top: 49px;
}

option{
  background-color: #d8d8d8;
  color: black;
}

.footer_linkss a, .text-link{
  color: white;
  transition: all .5s ease;
}

.logo-img {
  width: 145px;
  height: 85px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.footer_linkss a:hover{
  color: white;
}

.text-link:hover{
  color: white;
}


.yuridik_uchun{
  display: none;
}

.head-btn1::before{
  content: none;
}

.top_button{
  width: 200px;
}

.modal_label{
  color: #000;
}


.modal_title{
  color: #000;
  text-align: center;
  align-items: center;
}

.main{
  border-radius: 8px;
}

.table_box{
  padding-bottom:90px;
}

.email-control{
  width: 41%;
  display: inline;
}


.top_btn{
  color: white;
  text-transform: uppercase;
  border: 0.1px solid rgba(255, 255, 255, 0.555);
  margin-top: 20px;
  padding: 10px;
  border-radius: 8px;

}

.modal_btn{
  color:#000;
  border: 1px solid rgba(82, 73, 73, 0.678);
}

.modal-footer button:hover{
  color: #000;
  border: 1px solid rgba(82, 73, 73, 0.678);

}

.top_btn:hover{
  color: #fff;
}

.bottom_btn{
  background: rgb(42,61,181);
  background: linear-gradient(90deg, rgba(42,61,181,0.9836309523809523) 0%, rgba(42,61,181,0.9780287114845938) 72%);
  color: white;
  border: none;
}

.btn:hover{
  color: white;
}

.box{
  background: rgb(42,61,181);
  background: linear-gradient(90deg, rgba(42,61,181,0.9836309523809523) 0%, rgba(42,61,181,0.9780287114845938) 72%);
  /* background-color: rgba(133, 133, 133, 0.877); */
}

.home_number_inp{
  margin-left: 47px;
}

.btn-close{
  opacity: 1;
}

.modal-header button{
  margin-left: 0;
}

.modal-inputt{
  margin-left: 10px;
  width: 70%;
}

select{
  color: #000;
}

.narxlar_div{
  /* height: 135px;  */
  display: block;
}


.for-mobile{
  display: none;
}

.tel_input_mar{
  margin-left: 22px;
}

.price_list_tr{
  /* display: block; */
  vertical-align: inherit;
}

.price_input{
  width: 170px;
}

.price_blog{
  width: 350px;
}

.price_list_select{
  border: 1px solid #ced4da;
  border-radius: 0.375rem;

}



/* Abonoment section  */

.abonoment_buttons{
  padding: 10px;
  border-radius: 4px;
  border: none;
  background: rgb(42,61,181);
  background: linear-gradient(90deg, rgba(42,61,181,0.9836309523809523) 0%, rgba(42,61,181,0.9780287114845938) 72%);
  color: white;
  cursor: pointer;
  margin-left: 10px;
}


.abonoment_but_div{
  margin: 25px 0;
  display: flex;
  align-items: center;
  justify-self: center;
}




/* media section start  */

@media (max-width:1000px){
  .table_box th{
    font-size: 19px;
  }
  .table_box select{
    font-size: 19px;
  }
  .for-desktop{
    display: none;
  }
  .email-control{
    width: 100%;
    display: inline;
  }
  .for-mobile{
    display: contents;
  }
}


@media (max-width:760px){
  .table_box th{
    font-size: 16px;
  }
  .table_box select{
    font-size: 16px;
  }
  .logo-img{
    width: 100px;
    height: 54px;
  }
  .top_button{
    width: 130px;
  }

  .row0 td {
    font-size: 10px;
  }

  .row1 td{
    font-size: 10px;
  }

  .top_btn{
    margin-top: 5px;
  }


}


@media(max-width:576px){
  /* .price_input{
    width: 100%;
  } */
}

@media (max-width:405px) {
  .abonoment_row{
    width: 130%;
  }
  .abonoment_footer{
    width: 130%;
  }
}


.nashr_index {
  border-left-width: 0px; border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;  background:transparent;
}

.komplektlar_soni {
  border-radius:4px; padding:4px;
}

.obuna_davri {
  border-radius:4px; padding:4px;
}

#chek_uchun {
  display: none;
}
